<% content_for :meta_title, "#{@artist.name}'s events on Rhythm and Soul" %>
<% content_for :meta_description, "Join us to get concerts, festivals or DJ sets listings matching your Spotify playlists!" %>
<% content_for :meta_image, @artist.images %>
<div class="main-wrapper-profile artists-padded">
  <div class="artist-profile-header">
    <div class="artist-profile-image">
    <% if @artist.images && @artist.name != "Various Artists" %>
      <%= image_tag @artist.images %>
    <% else %>
      <%= image_tag('compact-disc.png') %>
    <% end %>
    </div>
    <div class="artist-description">
      <h2><%= @artist.name.split.map(&:capitalize).join(' ') %></h2>
      <div class="artist-genre-list">
        <% @artist.genres.each do |genre| %>
          <p><%= genre.name.capitalize %></p>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="back-button-artists">
        <%= link_to "Back To Artists List", user_path(current_user, artist_id: @artist.id), class: 'filter-button' %>
      </div>
    <% end %>
  </div>
  <div class="artist-profile-events">
    <% if @artist.events.empty? %>
      <p>There is no event currently planned for <%= @artist.name %>.</p>
    <% else %>
      <p class="upcoming">UPCOMING EVENTS</p>
      <% @artist.events.uniq.each do |event| %>
          <div class="wrapper-artists-events">
            <% if event %>
              <div class="artist-date">
                <%= event.date.strftime('%A, %d %b %Y %l:%M %p') %>
              </div>
              <div class="artist-venue">
                @ <%= event.venue.name %>
              </div>
              <div class="artist-address">
                <%= event.venue.address %>
              </div>
              <% if !event.ticket.nil? %>
                <div class="artist-ticket">
                  <%= link_to "Buy ticket", event.ticket, class:"buy-ticket-button", target: :_blank %>
                </div>
              <% end %>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>


