<h2><%= user_signed_in? ? "Artists" : @user.name + "'s Artists" %></h2>

<hr>

<form action="<% user_path %>" class="artist-selection-profile">
  <select class="form-control" id="artists-event-selection" name="artists_events_filter" >
    <option>Show only artists with events</option>
    <option>All artists</option>
  </select>
  <div class="filter-submit">
    <input type="submit" class="filter-button" value="Apply">
  </div>
</form>

<br>

<div class="wrapper-artists-genre-profile">
  <% @artists_events_filtered.uniq.each do |artist| %>
    <% if artist.name != "Various Artists" %>
      <%= link_to artist_path(artist.id) do %>
        <div class="card-artist-genre grow">

          <div class="artist-image">
          <% if artist.images %>
            <%= image_tag artist.images %>
          <% else %>
            <%= image_tag('compact-disc.png') %>
          <% end %>
          </div>

          <div class="artist-description">
            <h4><%= artist.name.split.map(&:capitalize).join(' ') %></h4>
            <% aec = artist.events.count %>
            <% if artist.events.count == 1 %>
              <h5 class="plus-events"><%= aec %> event</h5>
            <% elsif aec > 1 %>
              <h5 class="plus-events"><%= aec %> events</h5>
            <% else %>
              <h5 class="no-event">No upcoming events</h5>
            <% end %>

          <% if aec <= 5 %>
            <i class="fa fa-circle marker-ev sml "></i>
          <% elsif aec > 5 && aec < 15 %>
            <i class="fa fa-circle marker-ev med"></i>
          <% elsif aec > 15 && aec < 30 %>
            <i class="fa fa-circle marker-ev hgh"></i>
          <% elsif aec > 30 && aec < 45 %>
            <i class="fa fa-circle marker-ev ult"></i>
          <% else %>
            <i class="fa fa-circle marker-ev gia"></i>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

