<h2><%= user_signed_in? ? "Artists" : @user.name + "'s Artists" %></h2>
<div class="wrapper-artists-genre-profile">
  <% @user.artists.each do |artist| %>
    <% if artist.name != "Various Artists" %>
      <%= link_to artist_path(artist) do %>
        <div class="card-artist-genre grow">
          <div class="artist-image">
          <% if artist.images %>
            <%= image_tag artist.images %>
          <% else %>
            <%= image_tag('compact-disc.png') %>
          <% end %>
          </div>
          <div class="artist-description">
            <h4><%= artist.name.split.map(&:capitalize).join(' ') %></h4>
            <% if artist.events.count > 0 %>
              <h5 class="plus-events"><%= artist.events.count %> events</h5>
            <% else %>
              <h5 class="no-event">No upcoming events</h5>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
