  <div class="left-side">
    <div class="user-profile-image">
      <%= image_tag @user.image, class:'profile-image center-cropped' %>
    </div>
    <div class="user-info">
      <h3><%= @user.name %></h3>
      <hr class="profile">
      <p></p>
    </div>
    <div class="profile-nav">
      <%= render "shared/profile-subnav" %>
      <div class="tab-content" id="bikes">
        <%= render 'saved-events' %>
      </div>
      <div class="tab-content hidden" id="rentals">
        <%= render 'past-events' %>
      </div>
      <div class="tab-content hidden" id="past-rentals">
        <%= render 'atists-genres' %>
      </div>
    </div>
  </div>
  <div class="right-side">
    info
  </div>
</div>
