<% content_for :meta_title, "#{@user.name}'s profile on Rhythm and Soul" %>
<% content_for :meta_description, "#{@user.name} knows all about his Spotify artists' next gigs. Join him and the rest of the community to get events listings matching your playlists." %>
<% content_for :meta_image, @user.image %>
<div id="job-id-container"><p class="hidden" id="job_id"></p></div>
<div class="main-wrapper-profile">
  <div style="display:none" id="progress-bar" class="col-md-12">
    <div class="progress">
      <div id="job-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">0%</div>
    </div>
  </div>

  <div class="scanning-wrapper">
    <div class="left-side">
      <div class="user-profile-image">
        <%= image_tag @user.image, class:'profile-image center-cropped' %>
      </div>
      <div class="user-info">
        <h3><%= @user.spotify_id.capitalize %></h3>
        <hr class="profile">
      </div>
      <% if user_signed_in? %>
        <div class="profile-nav">
          <%= render "shared/profile-subnav" %>
        </div>
        <div class="wrapper-scan">

          <%= link_to "Scan my Spotify Playlist", scan_playlist_path, class: 'scan-playlist', id: 'test', remote: true %>
        </div>
      <% end %>
    </div>
    <div class="right-side">
      <div class="tab-content" id="artists">
        <%= render 'artists-genres' %>
      </div>
      <% if user_signed_in? %>
        <div class="tab-content hidden" id="saved">
          <%= render 'saved-events' %>
        </div>
        <div class="tab-content hidden" id="past">
          <%= render 'past-events' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
