<div class="main-wrapper-profile">
  <div class="left-side">
    <div class="user-profile-image">
      <%= image_tag @user.image, class:'profile-image center-cropped' %>
    </div>
    <div class="user-info">
      <h3><%= @user.name %></h3>
      <hr class="profile">
    </div>
    <div class="profile-nav">
      <%= render "shared/profile-subnav" %>
    </div>
    <%= render 'shared/scanning' %>
    <div class="wrapper-scan">
      <%= link_to "Re-scan my Spotify Playlist", scan_playlist_path, class: 'scan-playlist' %>
    </div>

  </div>
  <div class="right-side">
    <div class="tab-content" id="artists">
      <%= render 'artists-genres' %>
    </div>
    <div class="tab-content hidden" id="saved">
      <%= render 'saved-events' %>
    </div>
    <div class="tab-content hidden" id="past">
      <%= render 'past-events' %>
    </div>
  </div>
</div>
