<div class="home-navbar-rs">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-beta-white.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">

        <div class="dropdown" onclick="myFunction()">
          <%= image_tag current_user.image, class: "avatar dropbtn", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <div id="myDropdown" class="dropdown-content">
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user-o"></i> &nbsp; <%= t(".profile", default: "Profile") %>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i> &nbsp; <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>

