<div class="navbar-wagon" id="nav">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-beta.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Events"), events_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <%= link_to 'https://www.facebook.com/therhythmandsoul/', target: "_blank" do %>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    <% end %>

    <%= mail_to "therhythmandsoul@gmail.com" do %>
      <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <% end %>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown" onclick="myFunction()">
          <%= image_tag current_user.image, class: "avatar dropbtn", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <div id="myDropdown" class="dropdown-content">
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user-o"></i> &nbsp; <%= t(".profile", default: "Profile") %>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i> &nbsp; <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </div>
        </div>
        <% else %>
        <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, class: 'login-event-index' %>
        <% end %>
      </div>



  </div>

</div>

<% content_for(:dropdown_js) do %>
<script>
    /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown menu if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>
<% end %>
