<div class="wrapper-event-description">
    <div class="event-desc-name">
      <h4><%= event.name.capitalize %></h4>
    </div>
    <div class="event-desc-venue">
      <%= event.venue.name %>
    </div>
    <div class="event-desc-address">
      <%= event.venue.address %>
    </div>
    <div class="event-desc-date">
      <%= event.date.strftime('%A, %d %b %Y %l:%M %p') %>
    </div>
    <div class="event-desc-links">
      <div class="event-desc-ticket">
        <%= link_to "Buy ticket", event.ticket, class:"buy-ticket-button", target: :_blank %>
      </div>
      <div class="event-desc-bookmark">
        <%= link_to "", bookmark_event_path(event), method: :put, class: 'fa fa-star' %>
      </div>
      <% raise %>
    </div>
</div>
