<div class="event-list-header">
    <div class="event-desc-image">
      <%= image_tag '002-compact-disc.svg' %>
    </div>
    <div class="event-desc-name">
    </div>
    <div class="event-desc-address">
      <%= image_tag '004-placeholder.svg' %>
    </div>
    <div class="event-desc-date">
      <%= image_tag '003-calendar.svg' %>
    </div>
    <div class="event-desc-ticket">
      <%= image_tag '001-tickets.svg' %>
    </div>
</div>
<% unless user_signed_in? %>
  <div class="login-now">
    <div class="log-now-banner">
      <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, class: 'login-event-index' %>
    </div>
  </div>
<% end %>
