<div class="event-desc-image">
  <%= image_tag event.artists.first.images %>
</div>
<div class="event-desc-name">
  <div class="content">
    <h4><%= event.name.capitalize %></h4>
    <p><%= event.venue.name %></p>
  </div>
</div>
<div class="event-desc-address">
  <%= event.venue.address %>
</div>
<div class="event-desc-date">
  <%= event.date.strftime('%A, %d %b %Y %l:%M %p') %>
</div>
<div class="event-desc-links">
  <div class="event-desc-ticket">
    <%= link_to "Buy ticket", event.ticket, class:"buy-ticket-button", target: :_blank %>
  </div>

  <%= render 'events/bookmark', event: event, current_user: current_user, current_user_liked_items: @current_user_liked_items %>
</div>
