<div class="events_elements">
  <% events_filtered.uniq.group_by(&:year).each do |year, events_array| %>
    <% Hash[ events_array.group_by(&:day).sort_by { |key, val| key } ].each do |day, events| %>
        <div class="day-text"><h3><%= events[0].date.strftime("%A, %d %B %Y") %></h3></div>
        <div class="day-lign"></div>
        <% events.each do |e| %>
          <div class="wrapper-event-description event" id="event_<%= e.id %>" data-latitude="<%= e.venue.latitude %>" data-longitude="<%= e.venue.longitude %>">
            <%= render 'event_element', event: e, current_user_liked_items: @current_user_liked_items, cache: true %>
          </div>
        <% end %>
      <% end %>
  <% end %>
</div>
